# Exchange Rate API
EXCHANGE_RATE_API_KEY=

# PostgreSQL
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=postgres
DB_PORT=5432

# Airflow Security
# Fernet key üretmek için: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=
AIRFLOW_ADMIN_PASSWORD=
_AIRFLOW_WWW_USER_USERNAME=airflow_admin

# Redis
REDIS_PASSWORD=

# Airflow (Opsiyonel override'lar)
AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=apache/airflow:2.9.1
